@media screen and (orientation: landscape) {
  body {
    grid-template-areas: "header  header  header"
                         "links   content content"
                         "footer  footer  footer";
    grid-template-rows: 240px 1fr auto;
    grid-template-columns: 170px 1fr 1fr;
  }

  header {
    min-height: 240px;
    background: var(--header-bg-colour) url("/img/logo.png") no-repeat;
    /* background: linear-gradient(var(--header-bg-colour), 50%, #FFF) url("/img/logo.png") no-repeat; */
  }

  nav ul li {
    padding: 7px;
  }

  nav {
    background: var(--bg-colour);
  }
}
