@media screen and (orientation: landscape) {
  body {
    grid-template-areas: "header  header  header"
                         "links   content content"
                         "footer  footer  footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 170px 1fr 1fr;
  }

  header {
    background-attachment: fixed; /* Stopped working. */
  }

  nav ul li {
    padding: 7px;
  }

  nav {
    background: var(--bg-colour);
  }
}
