@import 'theme.css';

.langs-available {
  font-style: italic;
  text-align: center;
  color: #4e5965;
  font-size: 14pt;
}

.welcome {
  font-style: italic;
  text-align: center;
}

.cta-row {
  margin: 50px auto;
  width: max-content;
}

.cta-button {
  background-color: limegreen;
  border: none;
  color: white;
  padding: 25px 40px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: block;
  font-size: 15pt;
  margin: 4px 2px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* Ribbon https://codepen.io/eode9/pen/twkKm */

.corner-ribbon {
  background: #A52921;
  padding: 0 21px;
  text-align: center;
  font-style: italic;
  line-height: 50px;
  letter-spacing: 1px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.corner-ribbon a, .corner-ribbon a:visited {
  color: white;
  text-decoration: none;
}

@media only screen and (min-width: 480px) {
  .corner-ribbon {
    width: 280px;
    position: absolute;
    top: 72px;
    right: -65px;
    left: auto;
    overflow: hidden;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}