@import 'theme.css';

.langs-available {
  font-style: italic;
  text-align: center;
  color: #4e5965;
  font-size: 1.1em;
}

.welcome {
  font-style: italic;
  text-align: center;
}

/* Ribbon https://codepen.io/eode9/pen/twkKm */

.corner-ribbon {
  background: #A52921;
  padding: 0 21px;
  text-align: center;
  font-style: italic;
  line-height: 50px;
  letter-spacing: 1px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.corner-ribbon a, .corner-ribbon a:visited {
  color: white;
}

@media only screen and (min-width: 30em) {
  .corner-ribbon {
    width: 280px;
    position: absolute;
    top: 72px;
    right: -65px;
    left: auto;
    overflow: hidden;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}