@import 'theme.css';

.langs-available {
  font-style: italic;
  text-align: center;
  color: #4e5965;
  font-size: 1.1em;
}

.welcome {
  font-style: italic;
  text-align: center;
}

.cta-row {
  margin: 2em auto;
  width: max-content;
}

.cta-button {
  background-color: limegreen;
  border: none;
  color: white;
  padding: 1.5em 2em;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: block;
  font-size: 1.2em;
  margin: 0.2em 0.1em;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0.3em 1em;
}


/* Ribbon https://codepen.io/eode9/pen/twkKm */

.corner-ribbon {
  background: #A52921;
  padding: 0 21px;
  text-align: center;
  font-style: italic;
  line-height: 50px;
  letter-spacing: 1px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.corner-ribbon a, .corner-ribbon a:visited {
  color: white;
}

@media only screen and (min-width: 30em) {
  .corner-ribbon {
    width: 280px;
    position: absolute;
    top: 72px;
    right: -65px;
    left: auto;
    overflow: hidden;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}