@charset "utf-8";

@import "vars.css"
@import "desktop.css" screen and (orientation: landscape);
@import "mobile.css" screen and (orientation: portrait);
@import "styles.css";

/* For now, until I figure out how to make vars.css work. */
:root {
  --bg-colour: #FFF9ED;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: grid;
  min-height: 100%;

  grid-template-areas: "header"
                       "links"
                       "content"
                       "footer";
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
}

header {
  grid-area: header;
}

nav {
  grid-area: links;
  padding: 7px;
}

nav ul {
  list-style-type: none;
}

main {
  background-color: var(--bg-colour);
  grid-area: content;
  padding: 1ex 2em;
  padding-right: 50px;
}

footer {
  padding: 0;
  background: linear-gradient(var(--bg-colour), #ffd899);
  grid-area: footer;

  display: flex;
  justify-content: center;
}

footer > div {
  color: maroon;
  padding-top: 70px;
  padding-bottom: 30px;
}
