/* Top-level CSS file for layout-related functionality.
 *
 * All the other files should be @imported into this
 * one in order to keep the HTML files stable. */

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: grid;
  min-height: 100%;

  grid-template-areas: "header"
                       "links"
                       "content"
                       "footer";
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
}

/* Desktop */
@media (min-width: 1000px) {
  header {
    min-height: 240px;
    background: #bbe0ff url("/img/logo.png") no-repeat;
  }

  body {
    grid-template-areas: "header  header  header"
                         "links   content content"
                         "footer  footer  footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 170px 1fr 1fr;
  }

  nav ul li {
    padding: 7px;
  }
}

/* Mobile. */
@media (max-width: 1000px) {
  header {
    min-height: 120px;
    background: #bbe0ff url("/img/logo.mobile.png");
    /* background-size: /1* TODO: check values, can it shrink to stretch? *1/ */
  }

  nav {
    background: #333333 !important;
    display: flex;
    justify-content: center;
  }

  nav ul {
    margin: 0;
    padding: 7px; /* Again? */
  }

  nav ul li {
    display: inline-block;
    padding: 0 16px;
    font-weight: bold;
  }

  nav ul li a, nav ul li a:visited {
    color: white;
  }

  nav ul li a:hover {
    color: crimson;
  }

  nav ul li a.inactive {
    color: lightgray;
  }
}

header {
  grid-area: header;
}

nav {
  background: #FFF9ED;
  grid-area: links;
  padding: 7px;
}

nav ul {
  list-style-type: none;
}

main {
  background: #FFF9ED;
  grid-area: content;
  padding: 1ex 2em;
  padding-right: 50px;
}

footer {
  padding: 0;
  min-height: 50px;
  background: linear-gradient(#FFF9ED, #ffd899);
  grid-area: footer;

  display: flex;
  justify-content: center;
}

footer > div {
  padding-top: 20px;
  padding-bottom: 30px;
}
