header {
  min-height: 120px;
  background: #0a1e58 url("/img/logo.png") no-repeat;
  /* background-size: /1* TODO: check values, can it shrink to stretch? *1/ */
}

nav {
  background: #333333 !important;
  display: flex;
  justify-content: center;
}

nav ul {
  margin: 0;
  padding: 7px; /* Again? */
}

nav ul li {
  display: inline-block;
  padding: 0 16px;
  font-weight: bold;
}

nav ul li a, nav ul li a:visited {
  color: white;
}

nav ul li a:hover {
  color: crimson;
}

nav ul li a.inactive {
  color: lightgray;
}
