/* General theme */
html {
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

p {
  line-height: 1.7;
}

/* Specific elements */
a.inactive {
  pointer-events: none;
  cursor: default;
  color: black;
  text-decoration: none;
}

table.definitions td:first-child {
  text-align: right;
  font-weight: bold;
  padding-right: 0.7em;
}

.question {
  font-style: italic;
  font-weight: bold;
  color: steelblue;
}

.summary {
  font-style: italic;
  color: steelblue;
}

ul.no-bullets {
  list-style-type: none;
}

ul.no-bullets li {
  margin: 10px 0;
}

/* Pages */
#contact-page .definitions {
  margin: 5ex 0 0 3em;
}


/* https://stackoverflow.com/questions/23236158/how-to-replicate-background-attachment-fixed-on-ios */
#contact-page header {
  background-image: url("/img/mapache.png"), linear-gradient(var(--header-bg-colour), #FFF);
  background-size: contain;
  background-attachment: fixed;
  min-height: 500px;
}

.markdown {
  display: none;
}
