/* General theme */
html {
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

/* Specific elements */
a.inactive {
  pointer-events: none;
  cursor: default;
  color: black;
  text-decoration: none;
}
