body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #FFF9ED;
}

h1, h2 {
  margin-top: 1.5em;
  color: #2548AC;
  text-align: center;
}

a, a:visited {
  color: royalblue;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 1.3rem;
}

ul li::before {
  display: inline-block;
  margin-right: 0.5rem;
  content: "🍃";
}

ul li { margin: 0.5rem 0; }

main {
  margin: 1.3rem;
}

.leader {
  margin: 0 0 1em 1em;
  border-radius: 1em;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.16) 0 0.05em 0.1em;
}

/* https://css-tricks.com/couple-takes-sticky-footer */
.content {
  min-height: calc(100vh - 135px);
  max-width: 60em;
  margin: auto;
}

/* Main content, without the header. */
.content main {}