body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #FFF9ED;
}

h1, h2 {
  margin-top: 1.5em;
  color: #2548AC;
  text-align: center;
}

a, a:visited {
  color: royalblue;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 1.3rem;
}

ul li::before {
  display: inline-block;
  margin-right: 0.5rem;
  content: "🍃";
}

ul li { margin: 0.5rem 0; }

main {
  margin: 1.3rem;
}

/* https://css-tricks.com/couple-takes-sticky-footer */
.content {
  min-height: calc(100vh - 135px);
}

@media only screen and (max-width: 60em) {
  .content main {
    margin: 1.7rem;
  }
}

@media only screen and (min-width: 60em) {
  .content main {
    max-width: 60em;
    margin: auto;
  }
}