<style>
  .langs { margin: 0; }
  .langs p { font-style: italic; }

  dl {
    display: grid;
    grid-template-columns: 2em max-content;
  }

  dt {
    grid-column-start: 1;
    margin: 0.2em 0;
  }

  dd {
    grid-column-start: 2;
    margin: 0;
  }

  dd span {
    font-weight: 550; /* 400 is normal, 600 is bold/strong, but in between doesn't seem to actually create the desirable effect. */
  }

  dl {
    padding: 1em 2.2em 0.8em 1.6em;
    background: linear-gradient(rgb(136, 205, 50), rgb(136, 205, 150));
    border-radius: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0 0.3em 1em;
  }
</style>

<div class="langs">
  <p>I speak fluent 🇪🇸🇬🇧🇨🇿 and get by in 🇵🇱.</p>
</div>

<dl>
  <dt><img height="24px" src="/img/whatsapp.svg" /></dt>
  <dd>
    <span class="name">WhatsApp</span>
    <a href="https://wa.me/message/46K3QXAUCRQDF1">+502 5173 7288</a>
  </dd>

  <dt><img height="24px" src="/img/messenger.svg" /></dt>
  <dd>
    <span class="name">Messenger</span>
    <a href="https://m.me/jakubstastny.guide">@jakubstastny.guide</a>
  </dd>

  <dt><img height="24px" src="/img/telegram.svg" /></dt>
  <dd>
    <span class="name">Telegram</span>
    <a href="https://t.me/jakubstastnyguide">@jakubstastnyguide</a>
  </dd>

  <dt class="apple-platforms"><img height="24px" src="/img/imessage.svg" /></dt>
  <dd  class="apple-platforms">
    <span class="name">iMessage</span>
    <a href="imessage://jakubstastny.guide@gmail.com">jakubstastny.guide@gmail.com</a>
  </dd>

  <dt><img height="24px" src="/img/email.svg" /></dt>
  <dd>
    <span class="name">Email</span>
    <a href="mailto:jakubstastny.guide@gmail.com">
    jakubstastny.guide@gmail.com
    </a>
  </dd>
</dl>