<link rel="stylesheet" href="/css/theme.css" />

<img class="leader" width="250px" src="/img/jakub.stastny.jpg" />

<!-- Who & what? -->
<p>
  Hi! My name is Jakub Šťastný and I'm a <a href="/spiritual-guidance">spiritual guide</a> and <a href="/energy-healing">energy healer</a>.
</p>

<p>
  From my early age I knew the traditional path of life wasn't for me. I dropped out of secondary school, learnt programming and moved to London, starting a career in IT of nearly 15 years.
</p>

<p>
  After living in various places and learning multiple languages, I found myself called to Mexico, where I had my spiritual awakening, having premonitions that came true, seeing visions, being able to communicate telepathically with people alive and dead alike.
</p>

<p>
  I was confused and sought spiritual guidance. I met wonderful old lady called Marisela, who changed my life and helped me to navigate this strange new world.
</p>

<p>
  I started to learn working The Light and discovered my calling in life to be helping others with my guidance and healings, hoping to do for others what Marisela once did for me.
</p>

<!-- Why (am I doing it)? -->
<!-- <p>
  I struggled with a lot of anxiety, depression, addictive behaviour and toxic relationships. The turning point for me was when I finally decided to go to therapy.
</p>

<p>
  With the help of Marisela, my therapist, I discovered my inner strength and the fact that life just doesn't have to feel so bloody difficult.
</p>

<p>
  I also discovered my ability to be there for others, connect to them, connect to the Light and to channel information from the subtle world.
</p> -->