<style>
  @import "/css/theme.css";

  .cards {
    display: flex;
    justify-content: center;
  }

  .card {
    width: 40%;
    margin: 15px;
  }

  .card img {
    display: none;
    margin: auto;
    height: 50px;
  }

  .card .type {
    font-style: italic;
  }

  .card h3 {
    margin-bottom: 7px;
  }
</style>

<h1>Stay in touch!</h1>
<div class="cards">
  <div class="card">
    <img src="/img/fb.svg" />
    <h3>
      <a target="_blank" href="https://facebook.com/groups/1102916943794365">Mutual support, sharing and healing&nbsp;🍃</a>
    </h3>

    <div class="type">
      Private Facebook group for my clients.
    </div>

    <p>
      Safe space for <b>sharing</b>, <b>mutual support</b> and <b>healing</b>. Connect with others who are as serious about healing and living up to their potential as you are.
    </p>

    <p>
      You don't have to be on your own. Join your tribe.
    </p>
  </div>

  <div class="card">
    <img src="/img/newsletter.svg" />
    <h3>
      <a target="_blank" href="http://eepurl.com/hSv0tH">My newsletter&nbsp;✉️</a>
    </h3>

    <div class="type">
      Occasional newsletter with exclusive content.
    </div>

    <p>
      Being a digital neanderthal I don't care for social media. If you are interested in what have I got to say about healthy honest life, spirituality and general well-being, join now.
    </p>

    <p>
      I post only when I actually have something to say and no more than once a month.
    </p>
  </div>
</div>