<style>
  .langs-available {
    font-style: italic;
    text-align: center;
    color: #4e5965;
    font-size: 1.1em;
  }

  .welcome {
    font-style: italic;
    text-align: center;
  }
</style>

<script name="set-leader-image">
  const link = customElement.getAttribute('leader')
  $('leader-image').setAttribute('src', link)
</script>

<p class="langs-available">
  Sessions available in 🇪🇸🇬🇧🇨🇿 and 🇵🇱.
</p>

<leader-image></leader-image>

<p>
  I believe everyone can heal. I believe everyone's life can be beautiful, fulfilling and just worth living. No matter how hurt, lonely or empty you may be feeling at the moment.
</p>

<p>
  My life felt like an uphill battle. I used to suffer from anxiety, heavy depression, toxic relationships and even flirted with suicide for way too long.
</p>

<p>
  Have you ever looked into the eyes of an old, wise person and felt like despite their age and deteriorating health they were in a place of total bliss, inner peace and strength? Would you like to be that person? You don't have to wait till your late age to be exactly that.
</p>

<p>
  Don't get me wrong — I'm not promising you a rose garden. There are many challenges, breakups and death in life. The question is do you want to suffer more than you have to or do you want to be strong and calm and endure the storm, knowing and understanding deep inside you the natural order of things, the understanding that brings you eternal strength and peace.
</p>

<p>
  The choice is yours. I've made mine. And when I did, the beauty, depth and peace I started to be completely surrounded by just made me so awstruck and humbled, that I decided to dedicate my life to helping people to experience it themselves. Not on my terms or through my ideas, but through theirs. To do my part in bringing into existence the future I always wished for the humanity and the Earth.
</p>

<p class="welcome">
  I cannot heal you, but I can be there with you, shine light on your path and teach you to be your own healer. Welcome to my site 🙏🏼
</p>