<link rel="stylesheet" href="/css/theme.css" />

<leader-image src="/img/jakub.stastny.jpg"></leader-image>

<!-- Who & what? -->
<p>
  Hi! My name is Jakub Šťastný and I'm a <a href="/spiritual-guidance">spiritual guide</a> and <a href="/energy-healing">energy healer</a>.
</p>

<!-- Why (am I doing it)? -->
<p>
  I struggled with a lot of anxiety, depression, addictive behaviour and toxic relationships. The turning point for me was when I finally decided to go to therapy.
</p>

<p>
  I met a wonderful old lady called Marisela. With her help I discovered my inner strength and the fact that life just doesn't have to feel so bloody difficult.
</p>

<p>
  I had my spiritual awakening at the same time, having premonitions that came true, seeing visions, being able to communicate telepathically with people alive and dead alike. Marisela gave me tools to navigate the strange subtle world and told me she sees these things as well.
</p>

<p>
  I also discovered my ability to be there for others, connect to them, connect to the Light and to channel information from the subtle world, hoping to do for others what Marisela once did for me.
</p>