<style>
  .cta-row {
    margin: 2em auto;
    width: max-content;
  }

  .cta-button, .cta-button:visited {
    background-color: limegreen;
    border: none;
    color: white;
    padding: 1.5em 2em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: block;
    font-size: 1.2em;
    margin: 0.2em 0.1em;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0 0.3em 1em;
  }

  .price {
    display: none; /* Safe default. */
  }
</style>

<script name="hide-price-if-unavailable">
  import context from '/js/context.js'
  import { parseQS } from '/js/helpers.js'

  const qs = parseQS()

  if (qs.country && context[qs.country]) {
    document.querySelectorAll('.price').forEach(element => element.style.display = 'inline')
  }
</script>

<div class="cta-row">
  <a class="cta-button" href="/contact">
    Book a session now <span class="price">{local-price}</span>
  </a>
</div>