<style>
  :host {
    padding: 0.3em 1.2em;
  }

  dl {
    display: grid;
    grid-template-columns: 8em auto;
  }

  dt {
    grid-column-start: 1;
    margin: 0.2em 0;
    font-weight: bold;
  }

  dd {
    grid-column-start: 2;
    margin: 0;
    font-family: ui-monospace;
  }

  #screen::after { content: "default (less than 64em)"; }

  @media (min-width: 64em) {
    #screen::after { content: "small screen (64em-85em)"; }
  }

  @media (min-width: 85em) {
    #screen::after { content: "medium (85em-120em)"; }
  }

  @media (min-width: 120em) {
    #screen::after { content: "large (120em-160em)"; }
  }

  @media (min-width: 160em) {
    #screen::after { content: "extra large (160em+)"; }
</style>

<script name="fill-in-debug-properties">
  import { parseQS } from '/js/helpers.js'
  import context from '/js/context.js'

  shadowRoot.getElementById('qs').innerText = JSON.stringify(parseQS())
  shadowRoot.getElementById('context').innerText = JSON.stringify(context)
</script>

<h3>Debug info</h3>
<dl>
  <dt>Query string</dt><dd id="qs"></dd>
  <dt>Context</dt><dd id="context"></dd>
  <dt>Screen</dt><dd id="screen"></dd>
</dl>