<style>
  footer {
    margin: 0;
    padding: 1em 0 2em 0;
    background: linear-gradient(#FFF9ED, 34%, LightBlue);
    height: 3em;
    text-align: center;
  }

  @media screen and (max-width: 30em) {
    .email { display: none; }
  }

  ul { list-style-type: none; }

  li {
    display: inline-block;
    padding: 0 1em;
  }

  li img { height: 2em; }
  li.whatsapp img { height: 2.2em; }
  li.email img { height: 2.3em; }
</style>

<footer>
  <ul>
    <li class="whatsapp">
      <a href="https://wa.me/message/46K3QXAUCRQDF1">
        <img src="/img/whatsapp.svg" />
      </a>
    </li>

    <li class="messenger">
      <a href="https://m.me/jakubstastny.guide">
        <img src="/img/messenger.svg" />
      </a>
    </li>

    <li class="telegram">
      <a href="https://t.me/jakubstastnyguide">
        <img src="/img/telegram.svg" />
      </a>
    </li>

    <li class="imessage">
      <a href="imessage://jakubstastny.guide@gmail.com">
        <img src="/img/imessage.svg" />
      </a>
    </li>

    <li class="email">
      <a href="mailto:jakubstastny.guide@gmail.com">
        <img src="/img/email.svg" />
      </a>
    </li>
  </ul>
</footer>