<style>
  header {
    background: linear-gradient(#ffd899, #FFF9ED);
    padding-top: 2em;
  }

  #logo {
    display: block;
    width: 100%;
  }

  @media only screen and (min-width: 30em) {
    #logo {
      width: 50%;
      margin: auto;
    }
  }
</style>

<script name="make-static-on-root">
  if (location.pathname.match(/^\/(index\.html)?$/)) {
    $('#link').removeAttribute('href')
  }
</script>

<header>
  <a id="link" href="/">
    <img id="logo" alt="Jakub Šťastný" src="/img/logo.png" />
  </a>
</header>